flow1
[
    {
        "id": "8c68ccc9.016f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fbbc020d.8d7",
        "type": "rpi-gpio in",
        "z": "8c68ccc9.016f",
        "name": "button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "bd701822.780b68",
                "2b559416.b106ec"
            ]
        ]
    },
    {
        "id": "bd701822.780b68",
        "type": "debug",
        "z": "8c68ccc9.016f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "ce9015ee.d956a8",
        "type": "rpi-gpio out",
        "z": "8c68ccc9.016f",
        "name": "GreenLED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b559416.b106ec",
        "type": "switch",
        "z": "8c68ccc9.016f",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "66592217.191aac"
            ],
            [
                "802ca5a3.907858"
            ]
        ]
    },
    {
        "id": "66592217.191aac",
        "type": "change",
        "z": "8c68ccc9.016f",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 480,
        "wires": [
            [
                "ce9015ee.d956a8"
            ]
        ]
    },
    {
        "id": "802ca5a3.907858",
        "type": "change",
        "z": "8c68ccc9.016f",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "ce9015ee.d956a8"
            ]
        ]
    }
]
